.vscode/
*.o
rf/
# CPP00
megaphone
phonebook
account
# CPP01
zombie
horde
brain
weapon
sed
*.replace
harl
harlFilter
# CPP02
fixed*
# CPP03
clap
scav
frag
# CPP04
poly
fire
class
# CPP05
bur
form*
# CPP06
conv
ser
type
# CPP07
template
iter
array
# CPP08
easyfind
span
mutant
# CPP09
