.vscode/
*.o
rf/
# CPP00
megaphone
phonebook
account
# CPP01
zombie
horde
brain
weapon
sed
*.replace
harl
harlFilter
# CPP02
fixed*
# CPP03
clap
scav
frag
# CPP04
poly
fire
class
# CPP05
bur
form
new_form